body {
    body {
        background-color: #010000; /* Dark background color */
        background-image: url('background.jpg'); /* Optional background image */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
    }
    
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

   
      }
      
}

header {
    .center-image-container {
        text-align: center;
        padding: 40px;
    }
    
    .center-image-container img {
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.logo img {
    height: 80px;
    width: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.image-container {
    flex: 1;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    flex: 2;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 24px;
    margin: 0;
    padding: 20px;
}

p {
    font-size: 16px;
}
